.gif__save-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
<<<<<<< HEAD

.mygifs-title {
  color: #ffb997;
  text-align: center;
  margin: 4rem auto;
}
=======
>>>>>>> 38d6cf69b1d98a120a849715473d81d2d25a6171
